<div class="form-container">
    <h1>Criar tarefas</h1>
    <form action="/task/create" method="post">
        <div class="form-data">
            <label for="title">Título</label>
            <input class="input-title" type="text" name="title" id="title">
        </div>
        <div class="form-data">
            <label for="description">Descrição</label>
            <textarea class="input-text" type="text" name="description" id="description"></textarea>
        </div>
        <div class="form-data">
            <label for="deadline">Data final</label>
            <input type="date" name="deadline" id="deadline">
        </div>
        <div class="form-data">
            <label for="status">Status</label>
            <select name="status" id="status">
                {{#each statusList}}
                    <option value="{{this.code}}">{{this.label}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-buttons">
            <button class="btn-create" type="submit">Cadastrar</button>
        </div>
    </form>
    <div class="btn-exit">
        <a href="/task">Voltar</a>
    </div>
</div>