body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #d2d2d2 !important;
}

.header-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #2D3986;
}

.header-nav-bar nav{
    width: 500px;
}

.header-nav-bar nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
}

.header-nav-bar nav ul li a {
    color: #BBC3F9;
    font-size: 1.2rem;
}

.header-nav-bar nav ul li a:hover {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.main-guest { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #2D3986;
}

.footer-container {
    align-items: center;
}

.footer-container p {
    font-size: 1rem;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 400px;
    height: 50%;
    max-height: 900px;
    background-color: #868dbd;
    border-radius: 20px;
}

.action-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.action-login a {
    text-decoration: none;
    padding: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    width: 100px;
    text-align: center;
}

.action-login .action-on {
    color: white;
    background-color: #2D3986;
}

.action-login .action-off {
    color: #2D3986;
    background-color: white;
}

.action-login .action-on:hover {
    color: #2D3986;
    background-color: white;
    text-decoration: none;
}

.action-login .action-off:hover {
    color: white;
    background-color: #2D3986;
    text-decoration: none;
}

.login-form .form-data label {
    color: white;
}

.btn-login {
    background-color: #2D3986;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    border: 0;
}

.btn-login:hover {
    background-color: rgb(238, 238, 238);
}

.btn-create-user {
    background-color: rgb(13, 87, 13);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    border: 0;
}

.btn-create-user:hover {
    background-color: rgb(16, 104, 16);
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}

.list-container h1 {
    color: #000;
}

.list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 400px;
}

.list-box ul {
    list-style: none;
    overflow-y: scroll;
    height: 80%;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    margin: 0 !important;
}

.list-box::-webkit-scrollbar {
    display: none;
}

.list-box ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    min-width: 350px;
    height: 50px;
    margin: 15px;
    border-radius: 20px;
    padding: 15px;
}

.list-box ul li p {
    width: 20%;
    height: 6px;
    border-radius: 10px;
}

.list-box ul li a {
    color: black;
    text-align: none;
    font-size: 1.1rem;
    text-decoration: none;
}

.a-create {
    display: block;
    padding: 20px;
    background-color: rgb(13, 87, 13);
    text-decoration: none;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.a-create:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(16, 104, 16);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
}

.form-container h1 {
    color: #000;
}

.form-container form {
    width: 100%;
}

.form-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.form-data label {
    font-size: 1.1rem;
    color: black;
}

.input-title {
    width: 100% !important;
}

.input-color {
    width: 50px !important;
    height: 50px !important;
}

.input-text {
    height: 200px !important;
    width: 100% !important;
}

.form-container form .btn-success {
    margin: auto;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.btn-create {
    background-color: rgb(13, 87, 13);
    width: 140px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
    border: 0;
}

.btn-create:hover {
    background-color: rgb(16, 104, 16);
}

.btn-exit a {
    display: block;
    padding: 10px;
    background-color: rgb(17, 45, 122);
    text-decoration: none;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.btn-exit a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(23, 58, 155);
}

.task-board {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    padding-top: 20px;
}

.task-category-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}