body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #d2d2d2 !important;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.main-guest { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

ul {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    margin: 0 !important;
}

ul::-webkit-scrollbar {
    display: none;
}