<div>
    <h1>Criar Categoria</h1>
    <form action="/category/create" method="post">
        <div>
            <label for="name">Nome</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="color">Cor</label>
            <input type="text" name="color" id="color">
        </div>
        <div>
            <label for="icon">Ícone</label>
            <input type="text" name="icon" id="icon">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
    <div>
        <a href="/category">Voltar</a>
    </div>
</div>