<div class="form-container">
    <h1>Criar Categoria</h1>
    <form action="/category/create" method="post">
        <div class="form-data">
            <label for="name">Nome</label>
            <input class="input-title" type="text" name="name" id="name">
        </div>
        <div class="form-data">
            <label for="color">Cor</label>
            <input class="input-color" type="color" name="color" id="color">
        </div>
        <div class="form-data">
            <label for="icon">Ícone</label>
            <select name="icon" id="icon" class="selectpicker">
                {{#each iconList}}
                    <option value="{{this}}" data-icon="{{this}}">
                        {{this}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="form-buttons">
            <button class="btn-create" type="submit">Cadastrar</button>
        </div>
    </form>
    <div class="btn-exit">
        <a href="/category">Voltar</a>
    </div>
</div>