<div class="list-container">
    <h1>Categorias</h1>
    <div class="list-box">
        <ul>
            {{#each categoryList}}
                <li>
                    <p style="background-color: {{this.color}};"></p>
                    <a href="/category/update/{{this.id}}"><i class="{{this.icon}}"></i> {{this.name}}</a>
                </li>
            {{/each}}
        </ul>
        <div>
            <a class="a-create" href="/category/create">Cadastrar</a>
        </div>
    </div>
</div>