<div class="flex flex-col w-full h-full items-center justify-start">
    <div class="flex flex-row w-5/6 justify-between items-center mt-7 h-1/12 mb-5">
        <h1 style="color: #484848;" class="text-start text-3xl font-normal mr-auto">Categorias</h1>
        <a style="background-color: #8354D0;" class="px-10 py-3 w-64 text-center font-medium text-white rounded-lg" href="/category/create">Cadastrar</a>
    </div>
    <div class="flex flex-col w-5/6 items-center mt-5 h-3/4">
        <ul class="overflow-y-scroll max-h-full w-full">
            {{#each categoryList}}
                <li style="background-color: white;" class="flex flex-col items-start h-32 w-full mb-4 mt-4 rounded-lg p-3">
                    <a href="/category/update/{{this.id}}" class="w-full h-full">
                        <p style="background-color: {{this.color}};" class="w-28 h-3 rounded-lg"></p>
                        <p class="mt-5 ml-1 text-xl font-medium"><i class="{{this.icon}}"></i> {{this.name}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>