<div>
    <h1>Categorias</h1>
    <ul>
        {{#each categoryList}}
            <li>
                <a href="/category/update/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
    <div>
        <a href="/category/create">Cadastrar categoria</a>
    </div>
</div>