<div>
    <form action="/user/create" method="post">
        <div class="form-data">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-data">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-data">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</div>