<div style="background-color: #8354D033;" class="flex flex-col w-3/6 h-3/6 items-center rounded-2xl">
    <div class="flex flex-row w-full h-20 items-center justify-evenly">
        <a style="background-color: #8354D033; color: #8354D0;" class="px-10 py-3 w-5/12 text-center font-medium rounded-2xl" href="/user/create">Cadastrar-se</a>
        <a style="background-color: #8354D0;" class="px-10 py-3 w-5/12 text-center font-medium text-white rounded-2xl" href="/user/login">Login</a>
    </div>
    <form class="flex flex-col w-5/6 h-4/6 items-center justify-evenly" action="/user/login" method="post">
        <div class="w-full">
            <label style="color: #4B4B4B;" class="block text-sm font-medium" for="username">Username</label>
            <input class="w-full px-3 py-2 border border-gray-300 rounded-md" type="text" name="username" id="username">
        </div>
        <div class="w-full">
            <label style="color: #4B4B4B;" class="block text-sm font-medium" for="password">Senha</label>
            <input class="w-full px-3 py-2 border border-gray-300 rounded-md" type="password" name="password" id="password">
        </div>
        <button style="background-color: #8354D0;"  class="w-2/4 px-3 py-2 rounded-md text-white mt-5 ml-auto" type="submit">Entrar</button>
    </form>
    {{#if errorMessage}}
        <p style="color: #EA2B2B;">{{errorMessage}}</p>
    {{/if}}
</div>